body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1400% 1400%;
    animation: rainbow 1s linear infinite;
}

@keyframes rainbow {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.random-image {
    position: absolute;
    width: 200px;
    height: 200px;

}
